{% import_yaml slspath+"/defaults.yaml" as defaults %}

{## Add any overrides based on CPU architecture. ##}
{% set defaults = salt['grains.filter_by']({
        'armv6l': {
            "arch": 'arm'
        },
        'armv7l': {
            "arch": 'arm'
        },
        'x86_64': {
            "arch": 'amd64'
        }
  }
  , grain="cpuarch"
  , default="x86_64"
  , merge=defaults.consul_exporter)
%}

{% set consul_exporter = salt['pillar.get']('consul_exporter', default=defaults, merge=True) %}
